# Создание дашборда

Создадим соединение с базой, выгружаем данные и создаем дашборд по ним.

In [1]:
!pip install SQLAlchemy
!pip install --upgrade SQLAlchemy
!pip install psycopg2

Requirement already satisfied: SQLAlchemy in c:\programdata\anaconda3\lib\site-packages (1.3.18)
Collecting SQLAlchemy
  Downloading SQLAlchemy-1.3.20-cp38-cp38-win_amd64.whl (1.2 MB)
Installing collected packages: SQLAlchemy
  Attempting uninstall: SQLAlchemy
    Found existing installation: SQLAlchemy 1.3.18
    Uninstalling SQLAlchemy-1.3.18:

ERROR: Could not install packages due to an EnvironmentError: [WinError 5] Отказано в доступе: 'c:\\programdata\\anaconda3\\lib\\site-packages\\sqlalchemy-1.3.18.dist-info\\direct_url.json'
Consider using the `--user` option or check the permissions.

Collecting psycopg2
  Downloading psycopg2-2.8.6-cp38-cp38-win_amd64.whl (1.1 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.8.6

In [2]:
# импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine

db_config = {'user': 'praktikum_student',         # имя пользователя
             'pwd': 'Sdf4$2;d-d30pp', # пароль
             'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
             'port': 6432,              # порт подключения
             'db': 'data-analyst-zen-project-db'}          # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                        db_config['pwd'],
                                                        db_config['host'],
                                                        db_config['port'],
                                                        db_config['db'])

engine = create_engine(connection_string) 

# SQL-зарос

query = '''
        SELECT * FROM dash_visits
        '''

dash_visits = pd.io.sql.read_sql(query, con = engine)

In [3]:
dash_visits.head(10)

   record_id item_topic source_topic age_segment                  dt  visits
0    1040597     Деньги         Авто       18-25 2019-09-24 18:32:00       3
1    1040598     Деньги         Авто       18-25 2019-09-24 18:35:00       1
2    1040599     Деньги         Авто       18-25 2019-09-24 18:54:00       4
3    1040600     Деньги         Авто       18-25 2019-09-24 18:55:00      17
4    1040601     Деньги         Авто       18-25 2019-09-24 18:56:00      27
5    1040602     Деньги         Авто       18-25 2019-09-24 18:57:00      22
6    1040603     Деньги         Авто       18-25 2019-09-24 18:58:00      24
7    1040604     Деньги         Авто       18-25 2019-09-24 18:59:00      20
8    1040605     Деньги         Авто       18-25 2019-09-24 19:00:00       5
9    1040606     Деньги         Авто       26-30 2019-09-24 18:29:00       1

Выгрузим данные из таблицы dash_visits в файл dash_visits.csv

In [6]:
dash_visits.to_csv('dash_visits.csv')

Дашборд по данным dash_visits: https://public.tableau.com/profile/artem6199#!/vizhome/Sprint_11/Dashboard1?publish=yes